{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('chamado_index') }}" class="btn btn-info" role="button" aria-pressed="true">Voltar</a>
    <hr>
    <h2 class="page-header">{{ chamado.titulo }}</h2>
    <ul class="list-group">
        <li class="list-group">Nome Cliente:{{ chamado.nomeCliente }}</li>
        <li class="list-group">Número Pedido:{{ chamado.idPedido }}</li>
        <li class="list-group">E-mail:{{ chamado.email }}</li>
        <li class="list-group">Observação:{{ chamado.observacao }}</li>
        <li class="list-group">Data Criação:{{ chamado.dataCriacao | date('d-m-Y') }}</li>
    </ul>
{% endblock %}